body {
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  position: relative;
}

.first {
  position: relative;
  width: 440px;
  height: 440px;
  background-color: rgb(248, 224, 194);
  display: block;
  margin-left: 1152px;
  margin-top: 0px;
}
.second {
  /* overflow: auto; */
  position: relative;
  width: 155px;
  height: 82px;
  width: 137px;
  height: 88px;
  background-color: rgb(248, 224, 194);
  display: block;
  margin-left: 1323px;
  /* margin-top: 0px; */
}

.third {
  overflow: hidden;
  width: 1541px;
  height: 400px;
  background-color: rgb(248, 224, 194);
  display: block;
  margin: auto;
  position: relative;
  /* margin-top: 0px; */
}
.space3 {
  position: absolute;
  width: 60px;
  height: 3px;
  background-color: #f0c692;
  top: 234px;
  left: 30px;
}
.space1 {
  position: absolute;
  width: 60px;
  height: 50px;
  background-color: #f0c692;
  left: 1430px;
  top: 234px;
}

.hall {
  overflow: hidden;
  width: 60px;
  height: 64px;
  background-color: #b47d74;
  margin-top: 306px;
  margin-left: 1156px;
  border-radius: 20px 20px 0px 0px;
  border-top: 3px solid #97665e;
  border-right: 3px solid #97665e;
  border-left: 3px solid #97665e;
}

.enter {
  overflow: hidden;
  width: 143px;
  height: 25px;
  background-color: #b47d74;
  display: block;
  margin: auto;
  margin-left: 1156px;
  margin-top: px;
  border: 3px solid #97665e;
}
.security {
  width: 33px;
  height: 90px;
  background-color: #dbe88f;
  border-radius: 40px 0px 0px 0px;
  position: absolute;
  left: 1222px;
  top: 283px;
}
.principal {
  width: 52px;
  height: 102px;
  position: absolute;
  background-color: #ffb2a8;
  left: 1253px;
  top: 271px;
  border-radius: 20px 0px 0px 0px;
}
.n1 {
  width: 230px;
  height: 160px;
  position: absolute;
  background-color: #f0c692;
  left: 1305px;
  top: 234px;
  border: 3px solid #9b7a4e;
  border-radius: 20px 0px 0px 0px;
}
.library {
  position: absolute;
  width: 90px;
  height: 230px;
  background-color: #f0c692;
  left: 1686px;
  top: 528px;
  border-bottom: 3px solid #9b7a4e;
  border-right: 3px solid #9b7a4e;
  border-top: 3px solid #9b7a4e;
}
.ddd {
  width: 2px;
  height: 22px;
  background-color: #9b7a4e;
  margin-top: 160px;
}
.eee {
  width: 2px;
  height: 20px;
  background-color: #9b7a4e;
  margin-top: 30px;
}
.library2 {
  position: absolute;
  width: 26px;
  height: 160px;
  background-color: #f0c692;
  left: 1503px;
  top: 0px;
  border: 3px solid #9b7a4e;
  border-radius: 0px 0px 0px 20px;
}
.head_teacher1 {
  position: absolute;
  width: 77px;
  height: 160px;
  background-color: #b29feaa1;
  border: 3px solid #9b7a4e;
  left: 1423px;
  top: 0px;
  border-radius: 0px 0px 20px 20px;
}
.wardrobe {
  position: absolute;
  width: 120px;
  height: 160px;
  background-color: #a78b71;
  left: 1299px;
  border-radius: 0px 0px 20px 20px;
  border: 3px solid #9b7a4e;
}
.n2 {
  position: absolute;
  width: 230px;
  height: 160px;
  background-color: #f0c692;
  left: 922px;
  top: 234px;
  border-radius: 20px 20px 0px 0px;
  border: 3px solid #9b7a4e;
}
.n3 {
  position: absolute;
  width: 230px;
  height: 160px;
  background-color: #f0c692;
  left: 692px;
  top: 234px;
  border: 3px solid #9b7a4e;
  border-radius: 20px 20px 0px 0px;
}
.n4 {
  position: absolute;
  width: 230px;
  height: 160px;
  background-color: #f0c692;
  left: 462px;
  top: 234px;
  border: 3px solid #9b7a4e;
  border-radius: 20px 20px 0px 0px;
}
.n5 {
  position: absolute;
  width: 230px;
  height: 160px;
  background-color: #f0c692;
  left: 232px;
  top: 234px;
  border: 3px solid #9b7a4e;
  border-radius: 20px 20px 0px 0px;
}
.n6 {
  position: absolute;
  width: 230px;
  height: 160px;
  background-color: #f0c692;
  top: 234px;
  border: 3px solid #9b7a4e;
  border-radius: 0px 20px 0px 0px;
}
.n7 {
  position: absolute;
  width: 230px;
  height: 160px;
  background-color: #f0c692;
  border: 3px solid #9b7a4e;
  border-radius: 0px 0px 20px 0px;
}
.toilet {
  position: absolute;
  width: 152px;
  height: 160px;
  background-color: #ffffff96;
  left: 236px;
  border-radius: 0px 0px 30px 10px;
  border-right: 3px solid #9b7a4e;
  border-bottom: 3px solid #9b7a4e;
}
.space9 {
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #f8e0c2;
  left: 255px;
  top: 160px;
}
.space10 {
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #f8e0c2;
  left: 333px;
  top: 160px;
}
.space11 {
  position: absolute;
  width: 3px;
  height: 30px;
  background-color: #f8e0c2;
  left: 388px;
  top: 23px;
}
.girls {
  position: absolute;
  width: 71px;
  height: 80px;
  background-color: #eca0a0d5;
  top: 80px;
  border-radius: 0px 0px 0px 10px;
  border-right: 3px solid #9b7a4e;
}
.teachers {
  position: absolute;
  width: 78px;
  height: 80px;
  background-color: #4acf7f70;
  border-radius: 0px 0px 28px 0px;
  left: 74px;
  top: 80px;
}
.boys {
  position: absolute;
  width: 152px;
  height: 77px;
  background-color: #50a6c07a;
  border-bottom: 3px solid #9b7a4e;
}
.space2 {
  position: absolute;
  width: 60px;
  height: 3px;
  background-color: #f0c692;
  top: 160px;
  right: 140px;
}
.space4 {
  position: absolute;
  width: 60px;
  height: 3px;
  background-color: #f0c692;
  top: 234px;
  left: 270px;
}
.space5 {
  position: absolute;
  width: 60px;
  height: 3px;
  background-color: #f0c692;
  top: 234px;
  left: 500px;
}
.space6 {
  position: absolute;
  width: 60px;
  height: 3px;
  background-color: #f0c692;
  top: 234px;
  left: 730px;
}
.space7 {
  position: absolute;
  width: 60px;
  height: 3px;
  background-color: #f0c692;
  top: 234px;
  left: 960px;
}
.space8 {
  position: absolute;
  width: 3px;
  height: 50px;
  background-color: #f8e0c2;
  left: 1299px;
  top: 15px;
}
.space12 {
  position: absolute;
  width: 40px;
  height: 3px;
  background-color: #f8e0c2;
  left: 1447px;
  top: 163px;
}
.wardrobe2 {
  position: absolute;
  width: 93px;
  height: 86px;
  background-color: #a78b71;
  left: 1066px;
  border-right: 3px solid #9b7a4e;
  border-bottom: 3px solid #9b7a4e;
}
.psiholog {
  position: absolute;
  width: 93px;
  height: 80px;
  background-color: #6fbfbadf;
  left: 1066px;
  top: 89px;
  border-radius: 0px 0px 20px 0px;
  border-right: 3px solid #9b7a4e;
  border-bottom: 3px solid #9b7a4e;
}
.space13 {
  position: absolute;
  width: 3px;
  height: 50px;
  background-color: #f8e0c2;
  left: 1159px;
  top: 15px;
}
.wardrobe3 {
  position: absolute;
  width: 117px;
  height: 166px;
  background-color: #a78b71;
  border-radius: 0px 0px 0px 20px;
  border: 3px solid #9b7a4e;
  left: 943px;
}
.space14 {
  position: absolute;
  width: 60px;
  height: 3px;
  background-color: #f8e0c2;
  left: 980px;
  top: 169px;
}
.space15 {
  position: absolute;
  width: 50px;
  height: 3px;
  background-color: #f8e0c2;
  left: 1087px;
  top: 169px;
}
.secondenter {
  position: absolute;
  width: 90px;
  height: 150px;
  background-color: #f0c692;
  left: 77px;
  top: 600px;
  border: 3px solid #9b7a4e;
}

.stairs3 {
  position: absolute;
  width: 108px;
  height: 6px;
  background-color: #9b7a4e;
  left: 15px;
  top: 15px;
}
.stairs4 {
  position: absolute;
  width: 108px;
  height: 6px;
  background-color: #9b7a4e;
  left: 15px;
  top: 25px;
}
.stairs5 {
  position: absolute;
  width: 108px;
  height: 6px;
  background-color: #9b7a4e;
  left: 15px;
  top: 35px;
}
.stairs6 {
  position: absolute;
  width: 108px;
  height: 6px;
  background-color: #9b7a4e;
  left: 15px;
  top: 45px;
}
.stairs7 {
  position: absolute;
  width: 108px;
  height: 6px;
  background-color: #9b7a4e;
  left: 15px;
  top: 55px;
}
.stairs8 {
  position: absolute;
  width: 108px;
  height: 6px;
  background-color: #9b7a4e;
  left: 15px;
  top: 65px;
}
.peregorodka {
  position: absolute;
  width: 3px;
  height: 435px;
  background-color: #9b7a4e9f;
  left: 240px;
}
.headstairs {
  position: absolute;
  width: 117px;
  height: 70px;
  background-color: #deb37f80;
  left: 10px;
  top: 9px;
  border-radius: 10px;
}
.shkaf1 {
  position: absolute;
  width: 5px;
  height: 49px;
  background-color: #c68866;
}
.shkaf2 {
  position: absolute;
  width: 5px;
  height: 49px;
  background-color: #c68866;
  left: 132px;
}
.peregorodka2 {
  position: absolute;
  width: 200px;
  height: 3px;
  background-color: #9b7a4e9f;
  top: 438px;
}
.peregorodka3 {
  position: absolute;
  width: 160px;
  height: 3px;
  background-color: #9b7a4e9f;
  top: 438px;
  left: 280px;
}
.kab8 {
  position: absolute;
  width: 168px;
  height: 170px;
  background-color: #eac89f;
  top: 93px;
  border-bottom: 3px solid #9b7a4e;
  border-right: 3px solid #9b7a4e;
  border-radius: 0px 0px 10px 0px;
}
.party26 {
  position: absolute;
  width: 15px;
  height: 31px;
  background-color: #8a9b85;
  top: 2px;
  left: 2px;
}
.party27 {
  position: absolute;
  width: 41px;
  height: 15px;
  background-color: #8a9b85;
  top: 18px;
  left: 2px;
}
.party28 {
  position: absolute;
  width: 15px;
  height: 25px;
  background-color: #9c958cb6;
  top: 36px;
  left: 2px;
}
.party29 {
  position: absolute;
  width: 15px;
  height: 25px;
  background-color: #9c958cb6;
  top: 63px;
  left: 2px;
}
.party30 {
  position: absolute;
  width: 15px;
  height: 25px;
  background-color: #9c958cb6;
  top: 90px;
  left: 2px;
}
.party31 {
  position: absolute;
  width: 15px;
  height: 25px;
  background-color: #9c958cb6;
  top: 117px;
  left: 2px;
}
.party32 {
  position: absolute;
  width: 15px;
  height: 25px;
  background-color: #9c958cb6;
  top: 144px;
  left: 2px;
}
.party33 {
  position: absolute;
  width: 25px;
  height: 15px;
  background-color: #9c958cb6;
  top: 154px;
  left: 22px;
}
.party34 {
  position: absolute;
  width: 25px;
  height: 15px;
  background-color: #9c958cb6;
  top: 154px;
  left: 49px;
}
.party35 {
  position: absolute;
  width: 25px;
  height: 15px;
  background-color: #9c958cb6;
  top: 154px;
  left: 76px;
}
.party36 {
  position: absolute;
  width: 25px;
  height: 15px;
  background-color: #9c958cb6;
  top: 154px;
  left: 103px;
}
.party37 {
  position: absolute;
  width: 25px;
  height: 15px;
  background-color: #9c958cb6;
  top: 154px;
  left: 130px;
}
.party38 {
  position: absolute;
  width: 15px;
  height: 25px;
  background-color: #9c958cb6;
  left: 53px;
  top: 63px;
}
.party39 {
  position: absolute;
  width: 15px;
  height: 25px;
  background-color: #9c958cb6;
  left: 53px;
  top: 90px;
}
.party40 {
  position: absolute;
  width: 15px;
  height: 25px;
  background-color: #9c958cb6;
  left: 53px;
  top: 117px;
}
.party41 {
  position: absolute;
  width: 15px;
  height: 25px;
  background-color: #9c958cb6;
  left: 81px;
  top: 37px;
}
.party42 {
  position: absolute;
  width: 15px;
  height: 25px;
  background-color: #9c958cb6;
  left: 81px;
  top: 64px;
}
.party43 {
  position: absolute;
  width: 15px;
  height: 25px;
  background-color: #9c958cb6;
  left: 81px;
  top: 91px;
}
.party44 {
  position: absolute;
  width: 15px;
  height: 25px;
  background-color: #9c958cb6;
  left: 81px;
  top: 118px;
}
.party45 {
  position: absolute;
  width: 15px;
  height: 25px;
  background-color: #9c958cb6;
  left: 107px;
  top: 37px;
}
.party46 {
  position: absolute;
  width: 15px;
  height: 25px;
  background-color: #9c958cb6;
  left: 107px;
  top: 64px;
}
.party47 {
  position: absolute;
  width: 15px;
  height: 25px;
  background-color: #9c958cb6;
  left: 107px;
  top: 91px;
}
.party48 {
  position: absolute;
  width: 15px;
  height: 25px;
  background-color: #9c958cb6;
  left: 107px;
  top: 118px;
}
.party49 {
  position: absolute;
  width: 18px;
  height: 10px;
  background-color: #9c958cb6;
  left: 126px;
  top: 3px;
}
.party50 {
  position: absolute;
  width: 64px;
  height: 6px;
  background-color: #8a9b85;
  left: 57px;
}
.shkaf5 {
  position: absolute;
  width: 10px;
  height: 20px;
  background-color: #c68866;
  left: 158px;
  top: 134px;
}
.shkaf6 {
  position: absolute;
  width: 10px;
  height: 48px;
  background-color: #c68866;
  left: 158px;
  top: 5px;
}
.space16 {
  width: 3px;
  height: 40px;
  background-color: #f8e0c2;
  margin-left: 168px;
  margin-top: 89px;
}
.kab9 {
  position: absolute;
  width: 168px;
  height: 170px;
  background-color: #eac89f;
  top: 265px;
  border-top: 3px solid #9b7a4e;
  border-right: 3px solid #9b7a4e;
  border-radius: 0px 10px 0px 0px;
  transition: all 300ms;
}
.kab9:hover {
  transform: scale(1.1);
  z-index: 1;
}
.kab9:hover p {
  visibility: visible;
  transition: all 300ms;
}
.kab9 p {
  visibility: hidden;
}
.party {
  position: absolute;
  width: 15px;
  height: 31px;
  background-color: #8a9b85;
  top: 2px;
  left: 2px;
}
.party2 {
  position: absolute;
  width: 41px;
  height: 15px;
  background-color: #8a9b85;
  top: 18px;
  left: 2px;
}
.party3 {
  position: absolute;
  width: 15px;
  height: 25px;
  background-color: #9c958cb6;
  top: 36px;
  left: 2px;
}
.party4 {
  position: absolute;
  width: 15px;
  height: 25px;
  background-color: #9c958cb6;
  top: 63px;
  left: 2px;
}
.party5 {
  position: absolute;
  width: 15px;
  height: 25px;
  background-color: #9c958cb6;
  top: 90px;
  left: 2px;
}
.party6 {
  position: absolute;
  width: 15px;
  height: 25px;
  background-color: #9c958cb6;
  top: 117px;
  left: 2px;
}
.party7 {
  position: absolute;
  width: 15px;
  height: 25px;
  background-color: #9c958cb6;
  top: 144px;
  left: 2px;
}
.party8 {
  position: absolute;
  width: 25px;
  height: 15px;
  background-color: #9c958cb6;
  top: 154px;
  left: 22px;
}
.party9 {
  position: absolute;
  width: 25px;
  height: 15px;
  background-color: #9c958cb6;
  top: 154px;
  left: 49px;
}
.party10 {
  position: absolute;
  width: 25px;
  height: 15px;
  background-color: #9c958cb6;
  top: 154px;
  left: 76px;
}
.party11 {
  position: absolute;
  width: 25px;
  height: 15px;
  background-color: #9c958cb6;
  top: 154px;
  left: 103px;
}
.party12 {
  position: absolute;
  width: 25px;
  height: 15px;
  background-color: #9c958cb6;
  top: 154px;
  left: 130px;
}
.party13 {
  position: absolute;
  width: 15px;
  height: 25px;
  background-color: #9c958cb6;
  left: 53px;
  top: 63px;
}
.party14 {
  position: absolute;
  width: 15px;
  height: 25px;
  background-color: #9c958cb6;
  left: 53px;
  top: 90px;
}
.party15 {
  position: absolute;
  width: 15px;
  height: 25px;
  background-color: #9c958cb6;
  left: 53px;
  top: 117px;
}
.party16 {
  position: absolute;
  width: 15px;
  height: 25px;
  background-color: #9c958cb6;
  left: 81px;
  top: 37px;
}
.party17 {
  position: absolute;
  width: 15px;
  height: 25px;
  background-color: #9c958cb6;
  left: 81px;
  top: 64px;
}
.party18 {
  position: absolute;
  width: 15px;
  height: 25px;
  background-color: #9c958cb6;
  left: 81px;
  top: 91px;
}
.party19 {
  position: absolute;
  width: 15px;
  height: 25px;
  background-color: #9c958cb6;
  left: 81px;
  top: 118px;
}
.party20 {
  position: absolute;
  width: 15px;
  height: 25px;
  background-color: #9c958cb6;
  left: 107px;
  top: 37px;
}
.party21 {
  position: absolute;
  width: 15px;
  height: 25px;
  background-color: #9c958cb6;
  left: 107px;
  top: 64px;
}
.party22 {
  position: absolute;
  width: 15px;
  height: 25px;
  background-color: #9c958cb6;
  left: 107px;
  top: 91px;
}
.party23 {
  position: absolute;
  width: 15px;
  height: 25px;
  background-color: #9c958cb6;
  left: 107px;
  top: 118px;
}
.party24 {
  position: absolute;
  width: 18px;
  height: 10px;
  background-color: #9c958cb6;
  left: 126px;
  top: 3px;
}
.party25 {
  position: absolute;
  width: 64px;
  height: 6px;
  background-color: #8a9b85;
  left: 57px;
}
.shkaf3 {
  position: absolute;
  width: 10px;
  height: 20px;
  background-color: #c68866;
  left: 158px;
  top: 134px;
}
a{
  cursor: pointer;
  scale: 5;
}