body {
  background-color: rgb(0, 0, 0);
  position: relative;
}

.first {
  width: 422px;
  height: 400px;
  background-color: rgb(248, 224, 194);
  display: block;
  margin-left: 1170px;
  margin-top: 0px;
}
.second {
  /* overflow: auto; */
  position: relative;
  width: 155px;
  height: 82px;
  background-color: rgb(248, 224, 194);
  display: block;
  margin-left: 1316px;
  /* margin-top: 0px; */
}

.third {
  overflow: hidden;
  width: 1541px;
  height: 400px;
  background-color: rgb(248, 224, 194);
  display: block;
  margin: auto;
  position: relative;
  /* margin-top: 0px; */
}
.space3 {
  position: absolute;
  width: 60px;
  height: 3px;
  background-color: #f0c692;
  top: 234px;
  left: 30px;
}
.space1 {
  position: absolute;
  width: 60px;
  height: 50px;
  background-color: #f0c692;
  left: 1430px;
  top: 234px;
}

.hall {
  overflow: hidden;
  width: 60px;
  height: 64px;
  background-color: #b47d74;
  margin-top: 306px;
  margin-left: 1156px;
  border-radius: 20px 20px 0px 0px;
  border-top: 3px solid #97665e;
  border-right: 3px solid #97665e;
  border-left: 3px solid #97665e;
}

.enter {
  overflow: hidden;
  width: 143px;
  height: 25px;
  background-color: #b47d74;
  display: block;
  margin: auto;
  margin-left: 1156px;
  margin-top: px;
  border: 3px solid #97665e;
}
.security {
  width: 33px;
  height: 90px;
  background-color: #dbe88f;
  border-radius: 40px 0px 0px 0px;
  position: absolute;
  left: 1222px;
  top: 283px;
}
.principal {
  width: 52px;
  height: 102px;
  position: absolute;
  background-color: #ffb2a8;
  left: 1253px;
  top: 271px;
  border-radius: 20px 0px 0px 0px;
}
.n1 {
  width: 230px;
  height: 160px;
  position: absolute;
  background-color: #f0c692;
  left: 1305px;
  top: 234px;
  border: 3px solid #9b7a4e;
  border-radius: 20px 0px 0px 0px;
}
.library {
  position: absolute;
  width: 90px;
  height: 230px;
  background-color: #f0c692;
  left: 1693px;
  top: 482px;
  border-bottom: 3px solid #9b7a4e;
  border-right: 3px solid #9b7a4e;
  border-top: 3px solid #9b7a4e;
}
.ddd {
  width: 2px;
  height: 22px;
  background-color: #9b7a4e;
  margin-top: 160px;
}
.eee {
  width: 2px;
  height: 20px;
  background-color: #9b7a4e;
  margin-top: 30px;
}
.library2 {
  position: absolute;
  width: 26px;
  height: 160px;
  background-color: #f0c692;
  left: 1503px;
  top: 0px;
  border: 3px solid #9b7a4e;
  border-radius: 0px 0px 0px 20px;
}
.head_teacher1 {
  position: absolute;
  width: 73px;
  height: 160px;
  background-color: #b29feaa1;
  border: 3px solid #9b7a4e;
  left: 1427px;
  top: 0px;
  border-radius: 0px 0px 20px 20px;
}
.wardrobe {
  position: absolute;
  width: 120px;
  height: 160px;
  background-color: #a78b71;
  left: 1302px;
  border-radius: 0px 0px 20px 20px;
  border: 3px solid #9b7a4e;
}
.n2 {
  position: absolute;
  width: 230px;
  height: 160px;
  background-color: #f0c692;
  left: 922px;
  top: 234px;
  border-radius: 20px 20px 0px 0px;
  border: 3px solid #9b7a4e;
}
.n3 {
  position: absolute;
  width: 230px;
  height: 160px;
  background-color: #f0c692;
  left: 692px;
  top: 234px;
  border: 3px solid #9b7a4e;
  border-radius: 20px 20px 0px 0px;
}
.n4 {
  position: absolute;
  width: 230px;
  height: 160px;
  background-color: #f0c692;
  left: 462px;
  top: 234px;
  border: 3px solid #9b7a4e;
  border-radius: 20px 20px 0px 0px;
}
.n5 {
  position: absolute;
  width: 230px;
  height: 160px;
  background-color: #f0c692;
  left: 232px;
  top: 234px;
  border: 3px solid #9b7a4e;
  border-radius: 20px 20px 0px 0px;
}
.n6 {
  position: absolute;
  width: 230px;
  height: 160px;
  background-color: #f0c692;
  top: 234px;
  border: 3px solid #9b7a4e;
  border-radius: 0px 20px 0px 0px;
}
.n7 {
  position: absolute;
  width: 230px;
  height: 160px;
  background-color: #f0c692;
  border: 3px solid #9b7a4e;
  border-radius: 0px 0px 20px 0px;
}
.toilet {
  position: absolute;
  width: 152px;
  height: 160px;
  background-color: #ffffff96;
  left: 236px;
  border-radius: 0px 0px 30px 10px;
  border-right: 3px solid #9b7a4e;
  border-bottom: 3px solid #9b7a4e;
}
.space9 {
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #f8e0c2;
  left: 255px;
  top: 160px;
}
.space10 {
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #f8e0c2;
  left: 333px;
  top: 160px;
}
.space11 {
  position: absolute;
  width: 3px;
  height: 30px;
  background-color: #f8e0c2;
  left: 388px;
  top: 23px;
}
.girls {
  position: absolute;
  width: 71px;
  height: 80px;
  background-color: #eca0a0d5;
  top: 80px;
  border-radius: 0px 0px 0px 10px;
  border-right: 3px solid #9b7a4e;
}
.teachers {
  position: absolute;
  width: 78px;
  height: 80px;
  background-color: #4acf7f70;
  border-radius: 0px 0px 28px 0px;
  left: 74px;
  top: 80px;
}
.boys {
  position: absolute;
  width: 152px;
  height: 77px;
  background-color: #50a6c07a;
  border-bottom: 3px solid #9b7a4e;
}
.space2 {
  position: absolute;
  width: 60px;
  height: 3px;
  background-color: #f0c692;
  top: 160px;
  right: 140px;
}
.space4 {
  position: absolute;
  width: 60px;
  height: 3px;
  background-color: #f0c692;
  top: 234px;
  left: 270px;
}
.space5 {
  position: absolute;
  width: 60px;
  height: 3px;
  background-color: #f0c692;
  top: 234px;
  left: 500px;
}
.space6 {
  position: absolute;
  width: 60px;
  height: 3px;
  background-color: #f0c692;
  top: 234px;
  left: 730px;
}
.space7 {
  position: absolute;
  width: 60px;
  height: 3px;
  background-color: #f0c692;
  top: 234px;
  left: 960px;
}
.space8 {
  position: absolute;
  width: 3px;
  height: 50px;
  background-color: #f8e0c2;
  left: 1302px;
  top: 15px;
}
.space12 {
  position: absolute;
  width: 40px;
  height: 3px;
  background-color: #f8e0c2;
  left: 1447px;
  top: 163px;
}
.wardrobe2 {
  position: absolute;
  width: 90px;
  height: 83px;
  background-color: #a78b71;
  left: 1051px;
  border: 3px solid #9b7a4e;
}
.psiholog {
  position: absolute;
  width: 90px;
  height: 80px;
  background-color: #6fbfbadf;
  left: 1054px;
  top: 89px;
  border-radius: 0px 0px 20px 0px;
  border-right: 3px solid #9b7a4e;
  border-bottom: 3px solid #9b7a4e;
}
.space13 {
  position: absolute;
  width: 3px;
  height: 50px;
  background-color: #f8e0c2;
  left: 1144px;
  top: 15px;
}
.wardrobe3 {
  position: absolute;
  width: 117px;
  height: 166px;
  background-color: #581e1e97;
  border-radius: 0px 0px 0px 20px;
  border: 3px solid #9b7a4e;
  left: 931px;
}
.space14 {
  position: absolute;
  width: 60px;
  height: 3px;
  background-color: #f8e0c2;
  left: 965px;
  top: 169px;
}
.space15 {
  position: absolute;
  width: 50px;
  height: 3px;
  background-color: #f8e0c2;
  left: 1075px;
  top: 169px;
}
.secondenter {
  position: absolute;
  width: 90px;
  height: 150px;
  background-color: #f0c692;
  left: 77px;
  top: 560px;
  border: 3px solid #9b7a4e;
} 
.stairs {
  position: absolute;
  width: 108px;
  height: 7px;
  background-color: #dda391c3;
  left: 25px;
  top: 10px;
}
.stairs2 {
  
}